.header{
    position: fixed;
    width: 100%;

    &__wrapper{
        width: min(100%, 1200px);
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 10px;
        

        &__logo{
            font-size: 1.75rem;
            font-weight: 600;

            span{
                color: #ff4068;
            }
        }

        &__nav{
            &__close{
                display: none;
            }
            
            ul{
                display: flex;
                gap: 2rem;
                
                a{
                    color: #121212;
                }
            }
        }

        &__menu{
            display: none;
            font-size: 1.75rem;
        }

    }

    @media screen and (max-width:920px) {
        &__wrapper{
            position: relative;

                
            &__nav{
                position: absolute;
                background: #fff;
                padding: 20px 20px;
                top: 10px;
                right: 10px;
                border-radius: 5px;
                box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
                visibility: hidden;
                opacity: 0;
                transition: .3s ease;

                &.active{
                    visibility: visible;
                    opacity: 1;
                }

                &__close{
                    display: block;
                    text-align: right;
                    font-size: 1.75rem;
                }

                ul{
                    font-size: .9rem;
                    flex-direction: column;
                    gap: 1rem;
                }
            }

            &__menu{
                display: block;
            }
        }
    }
}